<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet"/>
    </head>
<body>
Text from index.ejs page from view folder !!
<h1>
    hello <%=developer.name %>
</h1><br>
<h1>
        hello <%=developer.query %>
    </h1><br>
    
</body>
    
</html>
